@import "fonts";
@import "reset";
@import "mixins";
;
aside {
  img {
    width: 100%;
  }
}

body {
  background: url(../img/basket-ball-player.png);
  background-size: cover;
  background-color: #000000;
}

nav {
  @include topnav;
  padding: 20px;
}

main {
  .content {
    // background: url('./img/basket-ball-player.png');
    color: white;
    padding: 20px 5%;
    h1,
    h2 {
      font-family: 'Archivo Black';
      text-align: center;
    }
    p {
      margin: 50px 0;
      letter-spacing: 2px;
      font-size: 16px;
      line-height: 20px;
    }
    .imgs {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      @include media-max(600px) {
        flex-direction: column;
      }
      img {
        // text-align: center;
        margin: 10px 20px;
        @include media-max(600px) {
          margin: 20px;
        }
        @include media-max(200px) {
          width: 90vw;
        }
      }
    }
  }
}