@import "fonts";
@import "reset";
@import "variable";
@import "mixins";
nav {
  @include topnav;
  padding: 20px;
}

.spiral {
  width: 10%;
  position: absolute;
}

header {
  // background-image: url('../img/oleksii-s-O2kqxbix4Mw-unsplash\ 2.png');
  background-size: cover;
  background-color: #000000e0;
  padding-bottom: 0px;
  height: fit-content;
  overflow: hidden;
  section.hero {
    .owl-carousel {
      .slide {
        width: 100vw;
        padding: 200px 10%;
        text-align: center;
        color: white;
        h1 {
          font-size: 3rem;
          margin: 20px 0;
        }
        p {
          font-size: 1rem;
        }
        &.slide-1 {
          background-image: url("../img/news/logan-weaver-xtPs2_MlPYc-unsplash.jpg");
          background-size: 100%;
        }
        &.slide-2 {
          background-image: url("../img/news/markus-spiske-BfphcCvhl6E-unsplash.jpg");
          background-size: 100%;
        }
        &.slide-3 {
          background-image: url("../img/news/ramiro-pianarosa-8hW2ZB4OHZ0-unsplash.jpg");
          background-size: 100%;
        }
        button,
        .button {
          background-color: $green;
          border: none;
          font-size: 18px;
          color: white;
          padding: 30px 50px;
          border-radius: 5px;
          text-transform: uppercase;
          margin: 50px 0;
          font-weight: 600;
        }
      }
    }
  }
}

body {
  background-color: black;
}

section.hero {
  img {
    width: 100%;
  }
}

section.sub {
  padding: 20px 0;
  h2 {
    color: $green;
    font-family: 'Archivo Black';
    text-align: center;
    margin: 20px 0;
  }
  form {
    display: flex;
    input {
      border: 1px $green solid;
      background-color: black;
      padding: 10px;
      color: white;
      font-size: 1rem;
      // flex-grow: 2;
      width: 50%;
      margin-left: auto;
      padding-left: 20px;
      border-radius: 5rem;
    }
    button {
      background-color: $green;
      color: white;
      font-family: 'Archivo Black';
      font-size: 1rem;
      padding: 10px;
      // flex-grow: 1;
      border: 1px $green solid;
      border-radius: 5px;
      margin-left: 10px;
      margin-right: auto;
    }
  }
}