@import "mixins";
body {
  background-color: black;
}

@mixin media-max ($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

nav {
  @include topnav;
  padding: 20px;
}

button {
  background-color: #0000;
  border: 1px white solid;
  padding: 10px;
  border-radius: 5rem;
  height: fit-content;
  width: fit-content;
  svg {
    path {
      fill: white;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px 50px;
  @include media-max (800px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-max (600px) {
    grid-template-columns: repeat(1, 1fr);
  }
  img {
    width: 100%;
  }
}

.video {
  border: 1px solid white;
  background-image: url('../img/vidar-nordli-mathisen-cR03g2ud84g-unsplash 2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  .overlay {
    padding: 90px 100px;
    background-color: #000000cb;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}