/* Error: Missing argument $width.
 *     ,
 * 2   | @mixin media-max ($width) {
 *     |        ================== declaration
 * ... |
 * 59  |     @include media-max () {}
 *     |     ^^^^^^^^^^^^^^^^^^^^^ invocation
 *     '
 *   main.scss 59:5  media-max()
 *   main.scss 59:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $width.\a     \2577 \a 2   \2502  @mixin media-max ($width) {\d\a     \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a... \2502 \a 59  \2502      @include media-max () {}\d\a     \2502      ^^^^^^^^^^^^^^^^^^^^^ invocation\a     \2575 \a   main.scss 59:5  media-max()\a   main.scss 59:5  root stylesheet";
}
