@mixin topnav {
  display: flex;
  font-family: 'Archivo Black';
  align-content: center;
  align-items: center;
  padding: 5px 0;
  .brand {
    .logo {
      width: 50px;
      img {
        width: 100%;
      }
    }
    .hamburger {
      display: none;
    }
  }
  .options {
    display: flex;
    flex-grow: 1;
    .links {
      margin-left: auto;
      a {
        font-family: "Archivo Black";
        color: white;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 20px;
        &.current {
          background-color: $green;
        }
        &:hover {
          background-color: $green2;
        }
      }
    }
    .social {
      margin-left: auto;
      svg {
        path {
          fill: white;
        }
      }
    }
  }
}

@mixin media-max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin archivo {
  font-family: "Archivo Black";
}