@import "fonts";
@import "reset";
@import "variable";
@import "mixins";
nav {
  @include topnav;
  padding: 20px;
}

.spiral {
  width: 10%;
  position: absolute;
}

body {
  background-color: black;
}

header {
  background-color: white;
  .columns {
    display: flex;
    .column {
      flex-grow: 1;
    }
  }
}